### Makefile.in for Disco ###

# This file contains user-specified build options

NUM_C	 = 5	# Number of conserved variables (Hydro: 5, MHD: 8)
NUM_N	 = 2	# Number of passive variables   (>=0)
CT_MODE	 = 1	# CT mode 0 or 1
TYPE	 = 0
